
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.z_config.socialLogin.SocialUserMapper">

  <select id="findByUserId" parameterType="String" resultType="com.boot.user.dto.UserDTO">
    SELECT * FROM user_info WHERE userId = #{userId}
  </select>
  
  <insert id="insertSocialUser" parameterType="com.boot.user.dto.UserDTO">
    INSERT INTO user_info (
      userId, userName, userEmail, userTel
    )
    VALUES (
      #{userId}, #{userName}, #{userEmail}, #{userTel}
    )
  </insert>

</mapper>


